top_5000_descriptors.csv
wine_descriptor_mapping_full.xlsx
wine_descriptor_mapping.csv
wine_wheel.pptm
wine_word2vec_model.bin
wine_word2vec_model.bin.trainables.syn1neg.npy
wine_word2vec_model.bin.wv.vectors.npy